
.container{
	display: flex;
	flex-direction: column;
}

.nav{
	
	background-color: blue;
	height: 10vh;
	width: 100%;
	margin: 5px;
}

.section{
	
	background-color: green;
	height: 20vh;
	width: 100%;
	margin: 5px;
}
.one{
    width: 31%;
    height: 30vh;
    background-color: yellow;
}

.body{
	display: flex;
	background-color: white;
	width: 100%;
	flex-direction: row;
	justify-content: space-between ;

}

.footer{

	background-color: blue;
	height: 20vh;
	width: 100%;
}


